@import "../../variables.modules";

main {
  background: linear-gradient(135deg, #00C9FF 0%, #FF3CAC 100%);
}

h1 {
  font-size: 3rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 4rem;
    text-align: left;
  }
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  @media only screen and (min-width: 940px) {
    font-size: 3.5rem;
    text-align: left;
  }
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

a {
  color: $dark;
  transition: color 200ms ease;
}

a:hover {
  color: $lightgray;
  transition: color 200ms ease;
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

#me {
  height: 45vh;
  width: auto; 
  margin: 20px;
  border-radius: 30px;
}

.mainInfo {
  gap: 5vw;
}

.resume {
  background-color: #1a1f21;
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.resume a {
  color: white;
}

.resume:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.01);
}

@media (max-width: 900px) {
  .social {
    justify-content: center;
  }
}